* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  overflow: scroll;
}
.nav-logo {
  height: 4vh;
  width: 3vw;
  margin-left: 20px;
}
.jumbotron h1 {
  margin-top: 60px;
}
.jumbotron {
  background-image: url("https://images.unsplash.com/photo-1575320181282-9afab399332c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  background-size: cover;
  color: white;
}
